body {
    background: #dedede url(img/back.jpg) fixed;
    margin: 0;
}

.content {
    margin: 0px 50px;
}

.venus-menu {
    margin: 30px 0 10px 0;
    z-index: 9999;
}

/* 头部导航 */
.venus-menu {
    width: 100%;
    margin-top: 15px;
    padding: 0;
    position: relative;
    float: left;
    background: #FFFFFF;
    box-shadow: 0 1px 3px #dedede;
    border-radius: 3px;
}

.venus-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;

    float: left;
    line-height: 20px;
    position: relative;
}

.venus-menu>li>a {
    padding: 18px;
    font-size: 14px;
    color: #777;
    text-decoration: none;
    display: block;
    -webkit-transform: color 0.2s linear, background 0.2s linear;
    -moz-transform: color 0.2s linear, background 0.2s linear;
    -o-transform: color 0.2s linear, background 0.2s linear;
    transform: color 0.2s linear, background 0.2s linear;
}

.venus-menu li:hover>a,
.venus-menu li.active a {
    background: #8a0002;
    border-radius: 3px;
    color: #FFFFFF;
}

.venus-menu>li>a i {
    color: #bababa;
}

.venus-menu>li:hover>a i,
.venus-menu li.active a i {
    color: #FFFFFF;
}

.venus-menu ul,
.venus-menu ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    width: 140px;
}

.venus-menu ul {
    top: 56px;
    left: 0;
    padding-top: 10px;
}

.venus-menu ul li ul {
    top: 0;
    left: 100%;
    padding-left: 10px;
}

.venus-menu ul li {
    color: both;
    width: 100%;
    border: none;
}

.venus-menu ul li a {
    padding: 14px 20px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font: left;
    clear: both;
    background: #cb6b6b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-transform: background 0.2s linear;
    -webkit-transform: background 0.2s linear;
    -o-transform: background 0.2s linear;
    transform: background 0.2s linear;
}

#o3 {
    padding: 18px;
    margin-left: -100px;
    font-size: 14px;
    color: #777;
    text-decoration: none;
    display: block;
    -webkit-transform: color 0.2s linear, background 0.2s linear;
    -moz-transform: color 0.2s linear, background 0.2s linear;
    -o-transform: color 0.2s linear, background 0.2s linear;
    transform: color 0.2s linear, background 0.2s linear;
}

.venus-menu ul li:hover>a {
    background-color: #cb2a47;
}

.venus-menu>li>ul>li:first-child:hover a::before {
    border-bottom-color: #cb6b6b;
}

.venus-menu>li>ul>li ul li:first-child:hover a::before {
    border-bottom-color: #cb6b6b;
}

/*  */
.venus-menu>li .indicator {
    position: absolute;
    color: #BABABA;
    top: 17px;
    right: 2px;
    font-size: 22px;
}

.venus-menu>li:hover>.indicator {
    color: #FFFFFF;
}

.venus-menu li.search {
    float: right;
}

.venus-menu li.search form {
    margin: 13px 20px 0 0;
}

.venus-menu li.search form.search {
    height: 26px;
    float: right;
    padding: 0 5px 0 5px;
    color: #777;
    outline: none;
    border: solid 1px #dedede;
}


.venus-menu li.search form input.search:focus {
    border-color: #cb6b6b;
}

/* 轮播 */
#main {
    height: 930px;
}

.actGotop {
    width: 150px;
    height: 195px;
    position: fixed;
    bottom: 50px;
    right: 150px;
    display: none;
    z-index: 100;
}

.actGotop a,
.actGotop a:link {
    width: 150px;
    height: 195px;
    display: inline-block;
    background: url(img/f1.gif) no-repeat;
    outline: none;
    background-size: 100% 100%;
}